*{
    margin: 0 auto;
   
}

body{
     font-family: "Roboto", sans-serif;;
}
h1{
    font-size: 48px;
    color:#F9FAF8 ;
}
.hero-section{
   background-color: #1F2937;
 
}

footer{
    background-color: #1F2937;
    
}