*{
    margin: 0 auto;
    padding: 0;  
}

body{
     font-family: "Roboto", sans-serif;;
}
.header-menu{
    display: flex;
    justify-content: space-between;
}
h3{
    color:#F9FAF8;
    font-size: 22.5px;
}
a{
    text-decoration: none;
    color:#E5E7EB ;
}
.links{
    display:flex;
    gap: 35px;
}
h1{
    font-size: 48px;
    color:#F9FAF8 ;
    font-weight: bold;
}
.hero-content{
    display: flex;
    margin-top: 40px;
    width: 900px;
    
}
.hero-section{
   background-color: #1F2937;
   padding: 15px;
  
}
.img-hero{
    width: 45%;
    height: auto;
    border-radius: 4px;
}
.description{
    margin: 10px 0 10px 0;
}
button{
    background-color:#3882f6 ;
    color: #E5E7EB;
    padding: 5px 20px 5px 20px;
    border: 1px solid #3882f6;
    border-radius: 5px;
}
.description{
    font-size: 16px;
    color: #E5E7EB;
}

.information{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    height: 200px;
}
.divs-content {
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 60px; /* Espacio entre los divs hijos */
    margin: 0;
}

.divs-content > div {
    width: 110px;
    height: 120px;
    border: 2px solid #3882f6;
    margin: 0;
    border-radius: 10px;
}
h2{
    margin-top: 35px;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    color: #1F2937;
}








footer{
    background-color: #1F2937;
    
}